/*
Explicitly define a Segoe UI font-family so that we can assign Segoe UI 
Semilight to an appropriate font-weight.
*/
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light"), url(../fonts/segoeuil.ttf);
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight"), url(../fonts/segoeuisl.ttf);
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src:  local("Segoe UI"), url(../fonts/segoeui.ttf);
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold"), url(../fonts/segoeuisb.ttf);
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold"), url(../fonts/segoeuib.ttf);
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic"), url(../fonts/segoeuii.ttf);;
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
	src: local("Segoe UI Bold Italic"), url(../fonts/seguisbi.ttf);
}

html, body {
    font-family: "Segoe UI";
    font-weight: lighter;
    background-color:#EBEBEB;/*#F2F2F2;*/ /*#f5f5f5;*/
}

.main-container {
    margin-top: 28px;
}

/**
 * Calendar Styles
**/
#calendar {
    background-color: #FFFFFF;
    /*box-shadow: 2px 2px 5px #666666;*/
    margin-bottom: 15px;
    
}
.cal-row-head [class*="cal-cell"]:first-child, .cal-row-head [class*="cal-cell"] {
	border-left: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;	
	border-bottom: none;
}
/*.cal-row-head [class*="cal-cell"]:last-child {
	border-right: 1px solid #e1e1e1;
}*/
#cal-day-box  {
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
.cal-week-box .cal-column {
	z-index: 0;
}
#cal-day-panel-hour {
	margin-bottom:15px;
}
#cal-day-box .cal-day-hour:nth-child(even) {
	background-color:#FFFFFF;
}
#cal-slide-content {
	background-color:#bb0000;	
}
#cal-slide-content, #cal-slide-content:hover {
	background-image:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#cal-slide-content:hover {
	background-color:#7A0000;
}
/**
 * Bootstrap Ovrrides
**/
.btn-primary {
    background-color: #bb0000;
    border-color: #7a0000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #8C2323;
    border-color: #7a0000;
}
.navbar-default {
    background-color: #bb0000;
    color: #FFFFFF;
}
.navbar-default .navbar-brand {
    color:#FFFFFF;
    padding: 0px 15px;
}
.navbar-default .navbar-brand:hover {
    opacity: 0.85;
}
.navbar-brand,.navbar-default .navbar-nav>li>a {
    color:#FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#CCCCCC;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #666666;
    color:#FFFFFF;
}
.list-group h4 {
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #666666;
    color: #FFFFFF;
	font-weight:lighter;
}
.list-group h4 a {
    font-size: 16px;
    color:#FCFCFC;
}
/*.list-group {
    box-shadow: 2px 2px 5px #666666;
}*/
.list-group-item:first-child, .list-group-item:last-child {
    border-radius:0px;
}
.badge {
	font-weight:lighter;
}

