/* CSS Document */

html, body, .glass {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url(../imgs/splash_background.jpg);
    background-size: cover;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
.glass::before {
    background-image: url(../imgs/splash_background.jpg);
    
}
.glass {
    background-color: white;
}
